/****************/
/*  Catégories  */
/****************/

.categories .btn {
	margin-left: 20px;
	float: right;
}



/****************/
/*  Thumbnails  */
/****************/

.thumbnail {

	img {
		margin: 0 auto;
		width: 200px;
		height : 150px;
	}
	div p {
		height : 160px;
		overflow : hidden;
	}

	.view_item {
		margin-bottom: 10px;
	}
}



/****************/
/*  Pagination  */
/****************/

.ui-datagrid {
	background: none;

	.ui-widget-header {
		background: none;
	}

	.ui-widget-content {
		background: none;
		border: none;
		color: inherit;
	}

	.ui-paginator-pages {
		margin: 0;
		padding: 0;
	}

	.ui-paginator-page, .ui-paginator-next, .ui-paginator-prev, .ui-paginator-first, .ui-paginator-last {

		&.ui-state-default {

			padding: 6px 12px;
			border-radius : 0;
			box-shadow : none;
			background: white;
			border: 1px solid $mediumgray-light;
			color: $darkgray-dark;
			margin: 0;

			&:hover {
				background: $mediumgray-light;
				color: white;
			}

			&.ui-state-active,  {
				background: $grass-dark;
				border-color : $grass-dark;
				color : white;

				&:hover {
					background: $grass-light;
				}
			}

			&.ui-state-disabled, &.ui-disabled:hover {
				color: $lightgray-dark;
				cursor: not-allowed;
			}
		}
	}

	.ui-paginator-next, .ui-paginator-prev, .ui-paginator-first, .ui-paginator-last {
		&.ui-state-default {
			background: $grass-dark;
			border-color : $grass-dark;
			color : white;

			&:hover {
					background: $grass-light;
				}

			&.ui-state-disabled, &.ui-disabled:hover {
				color: $lightgray-dark;
				cursor: not-allowed;
			}
		}
	}

	.ui-paginator-first.ui-state-default {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}	

	.ui-paginator-last.ui-state-default {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}	
}




/************/
/*  Panier  */
/************/

.cart {
	table {
		img {
			max-width: 200px;
		}

		tr td {
			&:first-child {
				width : 200px;
			}

			&:last-child {
				text-align: center;
			}
		}
	}

	tfoot tr td:first-child {
		text-align: right;
		padding-top: 15px;
	}
}