/****************/
/*  Thumbnails  */
/****************/

.thumbnail {

	img {
		padding: 10px;
	}
	div p {
		height : 160px;
		overflow : hidden;
	}

	.view_item {
		margin-bottom: 10px;
	}
}



/****************/
/*  Pagination  */
/****************/

.pager li a input {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.page {
	margin: 0 20px;
}

