.navbar {
	border-radius : 0;

	.dropdown-menu form {
		margin: 0;

		a {
			padding: 5px 20px;
			display: block;
		}
	}

	.navbar-form {
		margin-left: 20px;

		.btn {
			margin-left: 10px;
		}
	}
}